{# templates/estudiantes/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Listado de Estudiantes{% endblock %}

{% block body %}
    <h1>Listado de Estudiantes</h1>

    

    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
       
        {% for estudiante in estudiantes %}
          
            {% include '_card_estudiante.html.twig' with {'estudiante': estudiante} %}
        {% endfor %}
    </div>
{% endblock %}